<?xml version="1.0"?>
<config>
	<modules>
	   <MisterSoft_Paidy>
		  <version>1.0.0</version>
	   </MisterSoft_Paidy>
	</modules>
	<global>
		<helpers>
			<paidy>
				<class>MisterSoft_Paidy_Helper</class>
			</paidy>
		</helpers>
		<blocks>
			<paidy>
				<class>MisterSoft_Paidy_Block</class>
			</paidy>
		</blocks>
		<models>
			<paidy>
				<class>MisterSoft_Paidy_Model</class>
			</paidy>
		</models>
		<resources>
			<mistersoft_paidy_setup>
				<setup>
					<module>MisterSoft_Paidy</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</mistersoft_paidy_setup>
			<mistersoft_paidy_write>
				<connection>
				  <use>core_write</use>
				</connection>
			</mistersoft_paidy_write>
			<mistersoft_paidy_read>
			   <connection>
				<use>core_read</use>
			  </connection>
			</mistersoft_paidy_read>
		</resources>
	</global>
    <frontend>
        <layout>
            <updates>
                <mistersoft_paidy>
                    <file>mistersoft_paidy.xml</file>
                </mistersoft_paidy>
            </updates>
        </layout>
        <translate>
            <modules>
                <MisterSoft_Paidy>
                    <files>
                        <default>MisterSoft_Paidy.csv</default>
                    </files>
                </MisterSoft_Paidy>
            </modules>
        </translate>
	</frontend>
	<adminhtml>
        <translate>
            <modules>
                <MisterSoft_Paidy>
                    <files>
                        <default>MisterSoft_Paidy.csv</default>
                    </files>
                </MisterSoft_Paidy>
            </modules>
        </translate>
	</adminhtml>
	<default>
		<payment>
			<paidy>
				<active>0</active>
				<model>paidy/paidy</model>
				<payment_action>auth</payment_action>
				<order_status>processing</order_status>
				<completed_status>complete</completed_status>
				<title>Paidy Payments</title>
				<allowspecific>0</allowspecific>
			</paidy>
		</payment>
	</default>
</config>
